/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require trix
 *= require_tree .
 *= require_self
 */

body {
  background-color: #1B1B1B;
  color: lightgrey;
}

.forms {
  color: black;
}

.link {
  color: lightgrey;
}

.link:hover {
  color: grey;
}

.panel {
  margin-top: 40px;
}

.panel.edit {
  margin-top: 20px;
}

.navbar{
  background-color: #1B1B1B;
  border-color: #1B1B1B;
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  color: lightgrey;
}

.navbar-default .navbar-nav>li>a:hover {
  color: grey;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #1B1B1B;
}

/*.panel-body {
  background-color: #F5F5F5;
}

trix-editor {
  background-color: white;
}*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.thumbnail {
  background-color: lightgrey;
  border-color: darkgrey;
  color: black;
  height: 200px;
  width: 140px;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 4px;
}

.thumbnail:hover {
  background-color: darkgrey;
}

.thumbnail-body {
  height: 189px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
}

.thumbnail-body h2{
  font-size: 4px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 2px;
}

.block h5 {
  margin-top: 0;
  text-align: center;
}

.block a {
  color: inherit;
}

.block a:hover {
  text-decoration: none;
}

.block a:link {
  text-decoration: none;
}

.title-link {
  color: inherit;
  margin-left: 14px;
}

.title-link:hover {
  color: darkgrey;
  text-decoration: none;
}

.poem {
  background-color: lightgrey;
  color: black;
  min-height: 700px;
  padding: 30px;
}

.poem h2 {
  font-size: 14px;
  font-weight: bolder;
}

.admit-poem-list {
  background-color: lightgrey;
  color: black;
  padding: 30px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid black;
}

.table-bordered>tbody>tr>td:active {
    border: none;
}

#error_explanation h2 {
  font-size: 18px;
  margin-top: 0;
}

#error_explanation ul {
  margin-bottom: 0;
}

.devise-error-alert {
  margin-bottom: 15px;
}

.btn-default {
  background-color: #F5F5F5;
  border-color: darkgrey;
  font-weight: bold;
}

/*.add-poem-btn {
  background-color: #e5ccff;
  border-color: #e5ccff;
  color: black;
  text-align: center;
  font-weight: bold;
}

.add-poem-btn:hover {
  background-color: #d7b3ff;
  border-color: #d7b3ff;
}*/

span.glyphicon-arrow-left {
  color: darkgrey;
  font-size: 1.5em;
  margin-top: 40px;
  position: fixed;
}

span.glyphicon-arrow-left:hover {
  color: lightgrey;
}

span.glyphicon-arrow-left.admin-back-arrow {
  margin-top: 88px;
}

/* Make pagination blend in */
.pagination {
  color: #1B1B1B;
}

.pagination a {
  color: #1B1B1B;
}

.pagination a:hover {
  color: #1B1B1B;
}
